[
  {
    "targets": [ 
      <BROKER_NODE_IP_PORT_ARRAY>,
      <BOOKIE_NODE_IP_PORT_ARRAY>,
      <ZOOKEEPER_NODE_IP_PORT_ARRAY>
    ],
    "labels": { 
      "cluster": "<PULSAR_CLUSTER>" 
    }
  }
]