[pulsar_cluster_core]
<pulsar_core_server1_ip> zookeeper=true bookie=true broker=true
<pulsar_core_server2_ip> zookeeper=true bookie=true broker=true
<pulsar_core_server3_ip> zookeeper=true bookie=true broker=true

[pulsar_manager]
<pulsar_mananger_host_ip>

[pulsar_perf]
<pulsar_perf_host_ip>

[pulsar_clnt:children]
pulsar_cluster_core
pulsar_manager
pulsar_perf

[pulsar_metrics]
<pulsar_metrics_host_ip>