{% set zklist = [] %}
{% for node in play_hosts if hostvars[node].zookeeper is defined and hostvars[node].zookeeper|bool %}
{% set ignored = zklist.append(node + ':2888:3888') %}
{% endfor %}
{{ zklist }}