{% set metrics_list = [] %}
{% for node in groups['pulsar_cluster_core'] if hostvars[node].zookeeper is defined and hostvars[node].zookeeper|bool %}
{% set ignored = metrics_list.append(node + ':' + zk_stats_port|string) %}
{% endfor %}
{{ metrics_list | join(', ') }}